.header{
        height: 80px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        
}
.header h2{
        color: #FFFFFF;
}